.contact-wrapper {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
  to bottom,
  #ffffff 60%,
  rgba(100, 164, 92, 0.5) 80%,
  rgba(50, 100, 45, 0.5) 100%
);
  color: #0a0a0a;
  padding-bottom: 60px;
}

/* Top section */
.contact-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 5vw;
  gap: 40px;
}

.contact-img {
  width: 550px;
  height: 500px;
  border-radius: 12px;
  object-fit: cover;
}

/* Text beside image */
.contact-details {
  max-width: 500px;
  color: #1f1f1f;
}

.contact-details h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.contact-desc {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

.contact-block {
  background-color: #f0f8f0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  margin-bottom: 30px;
}

.contact-block p {
  margin-bottom: 14px;
  color: #0a3d23;
}

.social-icons {
  display: flex;
  gap: 16px;
  margin-top: 10px;
}

.social-icons a {
  color: #0a3d23;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #92c23a;
}

/* Message Form Section */
.contact-form-section {
  text-align: center;
  margin-top: 10px;

}

.contact-form-section h2 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: #1c1c1c;
}

.contact-form {
  background-color: #e9f5e4;
  border-radius: 12px;
  padding: 30px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #a4d23b;
}

.contact-form button {
  padding: 12px;
  background-color: #0a3d23;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: #005025;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-info-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-img {
    width: 90%;
  }

  .contact-form {
    width: 90%;
  }
}
