.login-container {
  display: flex;
  height: 580px;
}

.login-left, .login-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-left {
  background: #fff;
}

.login-form {
  background: #fff;
  border-radius: 20px;
  border: 2px solid #ccc;
  padding: 40px 32px;
  width: 350px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.03);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-form h2 {
  margin-bottom: 0;
  color: #888;
  font-weight: 500;
  text-align: center;
}

.login-form p {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
  color: #888;
  font-size: 15px;
}

.signup-link {
  color: #4caf50;
  cursor: pointer;
}

.login-form label {
  font-size: 14px;
  color: #444;
  margin-bottom: 4px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 12px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 12px;
}

.forgot-link {
  color: #388e3c;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 12px 0;
  background: #c6e86b;
  color: #111;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 8px;
  font-family: 'Poppins', sans-serif;
}

.login-right {
  background: #c6e86b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-logo {
  max-width: 350px;
  width: 80%;
  height: auto;
}