.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c9cac8; 
  padding: 10px 20px;
}

.logo {
  flex-shrink: 0;
}

.hero-logo {
  height: 40px;
  width: auto;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-list li a:hover {
  color: #e7e7e7; 
}
