@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.header{
    background-color: hsl(169, 79%, 18%);
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    font-size: 10px;
}

.header-button{
    font-family: 'Poppins', sans-serif;
    gap: 20px;
    display: flex;
}

.header-button button {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: hsl(169, 79%, 18%);
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.highlight{
    color: #B8E061;
}

.header-button button:hover {
    background-color: hsl(169, 79%, 28%);
    color: #fff;
}

body{
    margin: 0;
}